:root {
  --main-bg-color: white;
  --black: #000;
  --white: #fff;
  --red: #730000;
  --blue: #04236c;
  --green: #003b20;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Red {
  color: var(--red);
}

.Blue {
  color: var(--blue);
}

.Green {
  color: var(--green);
}

.White {
  color: var(--white);
}

section {
  background-color: var(--black);
}

/* remove anime js flash onload */
.copy div {
  opacity: 0;
}

.sectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

h2,
h3 {
  padding: 0;
  margin: 1rem 0;
}
h2,
h3,
.supportingImage {
  position: relative;
  z-index: 10;
}

h3 {
  text-transform: uppercase;
}

/* for testing remove for production */

section {
  outline: 1px solid var(--white);
}
.panelNumber {
  position: absolute;
  bottom: -45px;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
}
